/** @file       <style.css>
 *  @details    Tá tudo aq.
 */

@font-face {
    font-family: 'MinhaFonte';
    src: url("assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}



body {
  font-family: Arial;
  font-family: 'JetBrains Mono', monospace;
}

h1 {
  color: #3366cc;
}

p {
  font-size: 16px;
}

button {
  padding: 5px;
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}


button {
  background-color: #3366cc;
  color: white;
  padding: 10px;
  border: none;
}